// SCSS is a preprocessor
@mixin light-weight-font{
    font-weight: 200;
    opacity: 0.8;
}
/* What is mixin?
    ans. A mixin is a powerful feature that allows you to define reusable blocks of CSS code.
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    padding: 1rem;
}

main{
    padding: 1rem; // 16 pixel but responsive
    padding-top: 3rem;
    border: 2px solid black; 
    width: 100%;
}

.view-1{
    width: 100%;
    // border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    p{
        @include light-weight-font;
    }

    h1{
        font-weight: 200;
        font-size: 3.8rem;
        font-weight: 400;
        width: 70%;
    }

    img{
        width: 100%;
        object-fit: cover;
        border-radius: 16px;
    }
}

.view-2{
    margin: 2rem 0; // top-bottom left-right
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;

    .top{
        display: flex;
        flex-direction: column;
        gap: 2rem;

        p{
            @include light-weight-font;
        }

        h1{
            font-weight: 600;
            font-size: 3rem;
            width: 90%;
        }

        button{
            padding: 1rem; // from all four sides
            border: 0.7rem;
            width: fit-content;
            border-radius: 0.5em;
            background-color: black;
            color: rgb(255,248,214);
        }
    }

    .line{
        background-color: #000;
        height: 1px;
    }

    .bottom{
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .elem{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            
            svg{
                width: 4rem;
                // height: 2rem;
                aspect-ratio: 1/1;
            }

            h1{
                font-size: 2.5rem;
                font-weight: 400;
            }

            p{
                @include light-weight-font;
            }
        }
    }
}



// MEDIA QUERY
@media (min-width: 1020px){
    main{
        padding: 3rem;
    }

    .view-1{
        h1{
            font-size: 8rem;
            width: 100%;
        }
    }

    .view-2{
        flex-direction: row;


        .top{
            width: 60%;
            justify-content: space-between;

            h1{
                font-size: 4rem;
                font-weight: 400;
            }
        }

        .line{
            height: initial;
            width: 1px;
        }

        .bottom{
            width: 40%;

            .line{
                height: 1px;
                width: 100%;
                align-self: stretch;
            }
        }
    }
}

